body {
  margin: 0 auto;
  padding: 30px 0;
  background: #141414;
  color: #ffffff;
  width: 80%;
}

.header-text {
  display: flex;
  font-size: 25pt;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.header-text > span {
  color: maroon;
}

.searchbox {
  border-radius: 10px;
  font-size: 14pt;
  padding: 5px 10px;
  width: 320%;
  outline: none;
  background-color: #141414;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}

.searchbox:focus {
  border-bottom: 1px solid maroon;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
}
/* 
.movie-row::-webkit-scrollbar {
  display: none;
} */

.movie-block {
  cursor: pointer;
  margin: 20px 10px;
  width: 217px;
}

.movie-block > img {
  width: 100%;
  transition: 0.2s ease all;
}

.movie-block > img:hover {
  opacity: 0.5;
}

.movie-block > p {
  overflow: wrap;
}

.pagination_row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.pagination_row > span {
  margin: 0 20px;
  border-radius: 10px;
  font-size: 14pt;
  padding: 5px 10px;
}

.pagination_row > button {
  margin: 0 20px;
  font-size: 12pt;
  padding: 5px 10px;
  outline: none;
  background-color: #141414;
  border: none;
  border-bottom: 1px solid maroon;
  color: white;
}

.pagination_row > button:nth-child(1) {
  border-left: 1px solid maroon;
}

.pagination_row > button:nth-child(3) {
  border-right: 1px solid maroon;
}
