body {
  margin: 0 auto;
  padding: 0;
  background: #141414;
  color: #ffffff;
  width: 80%;
}

.header-text {
  display: flex;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
  width: 50%;
}

.searchbox {
  border-radius: 10px;
  font-size: 14pt;
  padding: 5px 10px;
  width: 200%;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
}
/* 
.movie-row::-webkit-scrollbar {
  display: none;
} */

.movie-block {
  cursor: pointer;
  margin: 20px 10px;
  width: 200px;
}

.movie-block > img {
  width: 100%;
  transition: 0.2s ease all;
}

.movie-block > img:hover {
  opacity: 0.5;
}

.movie-block > p {
  overflow: wrap;
}
